@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #224b41;
  --secondary-color: #3b6937;
  --third-color: #a6c573;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h4 {
  margin: 0;
}

header {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: rgbrgb(255, 208, 208);
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search::placeholder {
  color: var(--third-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: rgb(255, 208, 208);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 208, 208);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: rgb(167, 60, 69);
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.tag.highlight {
  background-color: red;
}
.no-results {
  color: rgb(255, 208, 208);
}

.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 208, 208);
}

.page {
  padding: 20px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid 167, 60, 69;
  font-size: 20px;
  font-weight: 600;
}

.know-more {
  background-color: 167, 60, 69;
  color: 255, 208, 208;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  padding: 10px 20px;
  margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.embed.hide {
  display: none;
}

.embed.show {
  display: inline-block;
}

.arrow {
  position: absolute;
  font-size: 40px;
}

.arrow.left-arrow {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.arrow.right-arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.dots {
  margin-top: 30px;
}

.dots .dot {
  padding: 5px 15px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}

.dots .dot.active {
  border-color: orange;
}

#jokes {
  background-color: rgb(252, 187, 187);
  padding: 50px 20px;
  border-radius: 25px;
  text-align: center;
  width: 800px;
  max-width: 100%;
  margin-top: 10px;
}

#jokes h1 {
  font-size: 24px;
  color:  var(--secondary-color);
  letter-spacing: 2px;
}

#jokeBtn {
  background-color:  var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
}

.joke {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 auto;
  max-width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-brisket {
  width: auto;
  height: 140px;
}

.meteo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  min-width: 500px;
}

.meteo-logo {
  width: auto;
  height: 125px;
}

.meteo-info {
  margin: 0;
  color: var(--third-color);
}

h4 {
  color: var(--third-color);
}

.meteo-data {
  min-width: 100px;
}

#meteo {
  min-width: 275px;
}

.trivia {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 208, 208);
}

.progress-container {
  display: flex;
  max-width: 100%;
  width: 350px;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.progress-container::before {
  content: "";
  background-color: rgb(255, 208, 208);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  background-color:  var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
  position: relative;
  z-index: 2;
}

.circle.active {
  border-color: var(--primary-color);
}

.btn {
  font-family: inherit;
  font-size: 14px;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #e0e0ee;
  cursor: not-allowed;
}

.btn:focus {
  outline: 0;
}

#trivia-new {
  margin-top: 5px;
}

.hidden {
  display: none;
}

.trivia-result.incorrect {
  color: red;
}

.trivia-result.correct {
  color: green;
}

.logo-container {
  text-align: center;
}

header > * {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.question .trivia-result {
  margin: 0;
}

.search-label {
  color: var(--third-color);
}
